
html, body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #e8e8e8;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

.left{
	float: left;
}

.right{
	float: right;
}


 
.clearfix {
    display: inline-block;
}

#wrapper{
	width: 965px;
	height: 1080px;
	background: #e8e8e8;
	margin: auto auto;
	padding: 0;
	
}

#logo{
	
	
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;

	margin-bottom: 1%;
}



#name{
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:25pt; 
	text-shadow: 2px 2px 2px #a30000;
	float:bottom;	
}

#clockDisplay{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16pt; 
	text-shadow: 1px 1px 1px #000;
	color: #eeee8d;
	margin-left: 200px;

	
}

#clockDisplay:hover{
	color:#eeee8d;
	background: none;
	border: none;
	margin-left: 200px;
}



nav ul{
	background: #a30000;
	width:753px;
	height:48px;
	/*border: 2px solid #1d1a1a;*/
	padding: 0;
	margin:0;
	margin-left:0.5%;

	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	background: #a30000;
	background: -moz-linear-gradient(top, #a30000, #260000);
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#a30000), to(#260000));
	
	
	border: 1px solid #002232;
	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
}

nav ul li{
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 4px 10px 4px 10px;
	margin-left:5px;
	margin-right:30px;
	margin-top:8px;
	border:none;

}

nav ul li:hover {
	
	margin-left: 31px
	padding: 4px 9px 4px 9px ;
	
	
	
	background: #161616;
	background: -moz-linear-gradient(top, #737373, #161616);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#737373), to(#161616));
	
	
	
	-moz-border-radius: 10px 10px;
	-webkit-border-radius: 10px 10px;
	border-radius: 10px 10px;
}

nav ul li a{
	/*color: #260000;
	text-decoration: none;
	padding: 0 20px;
	border: 2px outset #b53333;*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:16pt; 
	color: #eeee8d;
	display:block;
	outline:0;
	text-decoration:none;
	text-shadow: 1px 1px 1px #000;	
	
	
}


#mainScreen{
	
	
	position:relative;
	text-align: left;
	width: 760px;
	height: 900px;
	background: #e8e8e8;
	
	font-size: 12pt;
	font-family:Arial, Helvetica, sans-serif;
	
	
	padding: 0;
	margin: 0;
	
	overflow:scroll;
}

#gameBoard{
	margin-left: 9%;
    margin-right: 7%;
    margin-top:7%;
    margin-bottom: 1%;
    box-shadow: 5px 5px 5px #888888;
    
}



#mainScreen article h1,h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: bold;
	margin-left: 5px;
}

#mainScreen article ul li{
	margin-bottom: 3px;
}



#quickLinks{
	width: 198px;
	height: 717px;
	
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	color: #eeeeee;	
	padding:0;
	margin: 0;

	-moz-border-radius: 10px 10px;
	-webkit-border-radius: 10px 10px;
	border-radius: 10px 10px;

	background: #a30000;
	background: -moz-linear-gradient(top, #a30000, #260000);
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#a30000), to(#260000));
	

	
	border: 1px solid #002232;
	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
	
}

#quickLinks h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20pt;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
	color: #eeee8d;
}

#quickLinks aside dl dt{
	padding: 4px 10px 4px 10px;
	margin-bottom: 20px;
	margin-top:0px
	
}


#quickLinks aside dl dt a{
	color:#eeee8d;
	font-size: 16pt;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
		
	
}

#quickLinks aside dl dt:hover{
	/*border: 1px solid #777777;*/
	border: none;
	
	background: #161616;
	background: -moz-linear-gradient(top, #737373, #161616);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#737373), to(#161616));
	
	
	-moz-border-radius: 10px 10px;
	-webkit-border-radius: 10px 10px;
	border-radius: 10px 10px;
}

#startButton{
	margin-left: 31%;
	margin-top: 5%;
	
	width:100px;
	position:relative;
	left:103px;
	bottom:20px;
	background:#a30000;
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	height:30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1p solid #999;
	
	-webkit-box-shadow: 0px 0px 10px #161616;
	-moz-box-shadow: 0px 0px 10px #161616;
	box-shadow: 0px 0px 10px #161616;
}

#startButton:hover{
	
	color: #a30000;
	background:#fff;
}

footer{
	
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #626262;
	background: #e8e8e8;
}


footer ul{
	
	padding:0;
	margin:0;
	margin-left: 20%;
}

footer ul li{
	display: inline-block;
	padding: 0 15px;	
}

footer ul li a{
	color: #626262;
	font-size: 10pt;
	text-decoration: none;
}

footer ul li a:hover{
	text-decoration: underline;
}

form {
	
	
	background: #a30000;
	opacity:1;
	margin:auto;
	
	position:relative;
	
	width:550px;
	height:350px;
	
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	
	text-decoration: none;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	padding:25px;
	border: 1px solid #999;
	border: inset 1px solid #333;
	
	-webkit-box-shadow: 0px 0px 5px #161616;
	-moz-box-shadow: 0px 0px 5px #161616;
	box-shadow: 0px 0px 5px #161616;
		
}

form h1{
	margin-top:0px
}


form input    {
	
	margin-left: 100px;
	margin-bottom: 5px;
	margin-top: 3px;
	width:350px;
	display:block;
	border: none;
	outline:none;
	height: 25px;
	-webkit-box-shadow: 3px 3px 5px #161616;
	-moz-box-shadow: 3px 3px 5px #161616;
	box-shadow: 3px 3px 5px #161616;
	
	font-size:12pt;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	background: #e8e8e8;
	
	
}

::-webkit-input-placeholder {
   color: #000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}

:-ms-input-placeholder {  
   color: #000;  
}

form input:focus{
	opacity: 1;
	font-size:12pt;
	font-style:italic;
	border: none;
	outline: none;
	background: #c86666;
	
	
	

}



form button{
	opacity:1;
	width:100px;
	position:absolute;
	right:50px;
	bottom:20px;
	background:#a30000;
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	height:30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1p solid #999;
	
	-webkit-box-shadow: 0px 0px 10px #161616;
	-moz-box-shadow: 0px 0px 10px #161616;
	box-shadow: 0px 0px 10px #161616;
}

form button:hover{
	
	color: #a30000;
	background:#fff;
}


#constWarning{
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;

	margin: 50px 95px;
	
	-webkit-box-shadow: 10px 0px 10px #161616;
	-moz-box-shadow: 10px 0px 10px #161616;
	box-shadow: 10px 0px 10px #161616;
	
}
/*
#mainScreen ul{
	width: 150px;
	
	
	background: #a30000;
	
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	
	text-decoration: none;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	padding-bottom: 15px;
	padding-top: 5px;
	padding-right: 15px;
	
	border: 1px solid #999;
	border: inset 1px solid #333;
	
	-webkit-box-shadow: 0px 0px 5px #161616;
	-moz-box-shadow: 0px 0px 5px #161616;
	box-shadow: 0px 0px 5px #161616;
	
}
*/
#mainScreen ul li{
	
	display: block;
	text-align:center;
	
	
	
}

#mainScreen ul li h1{
	text-align: center;
}



#noob{
	position:absolute;
	float:left;
	margin-top: 15px;
	margin-left:30px;
	
	width: 150px;
	
	
	background: #a30000;
	
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	
	text-decoration: none;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	padding-bottom: 15px;
	padding-top: 5px;
	padding-right: 15px;
	
	border: 1px solid #999;
	border: inset 1px solid #333;
	
	-webkit-box-shadow: 0px 0px 5px #161616;
	-moz-box-shadow: 0px 0px 5px #161616;
	box-shadow: 0px 0px 5px #161616;
	
	
}

#inter{
	position:absolute;
	margin-left: 270px;
	margin-top:15px;
	
	width: 150px;
	
	
	background: #a30000;
	
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	
	text-decoration: none;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	padding-bottom: 15px;
	padding-top: 5px;
	padding-right: 15px;
	
	border: 1px solid #999;
	border: inset 1px solid #333;
	
	-webkit-box-shadow: 0px 0px 5px #161616;
	-moz-box-shadow: 0px 0px 5px #161616;
	box-shadow: 0px 0px 5px #161616;
	
}

#master{
	
	position:absolute;
	right:30px;
	margin-top:15px;
	
	width: 150px;
	
	
	background: #a30000;
	
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	
	text-decoration: none;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	padding-bottom: 15px;
	padding-top: 5px;
	padding-right: 15px;
	
	border: 1px solid #999;
	border: inset 1px solid #333;
	
	-webkit-box-shadow: 0px 0px 5px #161616;
	-moz-box-shadow: 0px 0px 5px #161616;
	box-shadow: 0px 0px 5px #161616;
	
	
}

#mainScreen ul li img{
	
	margin-right:10px;
	margin-left: 15px;
	margin-bottom: 5px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#mainScreen ul li button{
	opacity:1;
	width:100px;
	
	
	background:#a30000;
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	height:30px;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	border: 1p solid #999;
	
	-webkit-box-shadow: 0px 0px 10px #161616;
	-moz-box-shadow: 0px 0px 10px #161616;
	box-shadow: 0px 0px 10px #161616;
}

#mainScreen ul li button:hover{
	
	color: #a30000;
	background:#fff;
}






